<div class="container">
    <div class="mx-auto p-3 w-2/5  ">
        <section class=" rounded">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-600  text-black">Formulario de Contacto</h2>
    
                <form [formGroup]="formContact" (submit)="send()" class="space-y-8">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium 
                        text-black">Nombre: </label>
                        <input formControlName="name" inputValidate [error]="comprobarCampo('name')" type="text" id="name" class="text-black border border-black text-sm rounded-lg w-full p-2.5 " placeholder="Ingresa tu Nombre" required>
                        
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium 
                        text-black">Email: </label>
                        <input formControlName="email" inputValidate [error]="comprobarCampo('email')" type="email" id="email" class="text-black border border-black text-sm rounded-lg w-full p-2.5 " placeholder="Ingrese email" required>
                        
                    </div>
                    <div>
                        <label for="phone" class="block mb-2 text-sm font-medium text-black">Telefono: </label>
                        <input isNumber inputValidate [error]="comprobarCampo('phone')" formControlName="phone" type="number" id="phone" class="text-black border border-black text-sm rounded-lg w-full p-2.5" placeholder="Ingrese numero de telefono" maxlength="9" required>
                        
                    </div>
                    <div>
                        <label for="asunto" class="block mb-2 text-sm font-medium text-black">Asunto:</label>
                        <input inputValidate [error]="comprobarCampo('asunto')" formControlName="asunto" type="text" id="asunto" class="text-black border border-black text-sm rounded-lg w-full p-2.5" placeholder="Ingrese Asunto" required>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="message" class="block mb-2 text-sm font-medium text-black">Mensaje:</label>
                        <textarea formControlName="message" inputValidate [error]="comprobarCampo('message')" id="message" rows="3" style="resize: none;" class="text-black border border-black text-sm rounded-lg w-full p-3" placeholder="Tu Mensaje"></textarea>
                    </div>
                    <button [disabled]="formContact.invalid" type="submit" class="w-full px-4 py-2 font-bold rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 bg-green-500  text-white">Enviar</button>
                    
                    <div *ngIf="formContact.valid && correcto">
                        <p class="text-center bg-green-600 text-xl font-semibold block mb-1 ml-1 text-white p-3 rounded">Gracias por comunicarnos con nosotros</p>
                    </div>
                </form>
            </div>
        </section>
    </div>
    
    
</div>
